.about {
  padding-top: 200px;
  padding-bottom: 100px;
}


.about-card {
  position: relative;
  border-radius: 36px;
  overflow: hidden;
  min-height: 820px;

}

.about-bg {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 170%;
  background-image: url("../img/about_sky.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 96%;
}

/* текст поверх */
.about-content {
  position: relative;
  z-index: 2;
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  padding-top: 180px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
}

.about-title {
  margin-bottom: 70px;
}

.about-text {
  font-size: 1.25rem;
  line-height: 1.3;
  color: var(--txt-secondary-color);
}

.about-text+.about-text {
  margin-top: 36px;
}

@media screen and (max-width: 767px) {

  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about-card {
    border-radius: 24px;
    min-height: unset;
  }

  .about-content {
    padding-top: 100px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
    max-width: 100%;
  }

  .about-title {
    margin-bottom: 40px;
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
    line-height: 1.4;
  }

  .about-text+.about-text {
    margin-top: 24px;
  }
}