.nav-icon {
  background: transparent;
  border: none;
  outline: none;
  display: none;
  visibility: hidden;
  width: var(--brg-width);   /* Ширина бургера */
  height: var(--brg-height); /* Висота бургера */
  position: relative;
}

.nav-icon span {
  background-color: var(--nav-color-1);
  display: block;
  position: absolute;
  left:0;
  width: 100%;
  height: var(--brg-weight);
}

.topfixed .nav-icon span {
  background-color: var(--brg-color-1);
}

.nav-icon span {
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s cubic-bezier(.47,.02,.53,.92);
  -moz-transition: .25s cubic-bezier(.47,.02,.53,.92);
  -o-transition: .25s cubic-bezier(.47,.02,.53,.92);
  transition: .25s cubic-bezier(.47,.02,.53,.92);
}

.nav-icon.open span {
  background: #fff;
}

.nav-icon span:nth-child(1) {
  top: 0;
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
  top: calc(50% - (var(--brg-weight)/2));
  width: 100%;
  right:0;
  left:auto;
}

.nav-icon span:nth-child(4) {
  bottom: 0;
  width: 100%;
}

.nav-icon.open span:nth-child(1) {
  bottom: 0;
  width: 0;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
  bottom: 0;
  width: 0;
  left: 50%;
}

@media screen and (max-width: 767px) {
  .nav-icon {
      display:block;
      visibility: visible;
  }
}