.hero {
  padding-top: 80px;
  padding-bottom: 40px;
}

.hero-scene {
  position: relative;
  min-height: 820px;
}

/* центральний текст */
.hero-content {
  position: absolute;
  left: 50%;
  top: 380px;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
  width: 100%;
}
.hero-content .h1 {
  margin-bottom: 44px;
}

.hero-photo,
.hero-object {
  position: absolute;
  display: block;
  object-fit: cover;
}

.hero_lamp {
  width: 280px;
  right: 20px;
  bottom: -70px;
  transform: rotate(4deg);
}

/* 2. верх право-центр */
.hero_balcon {
  width: 160px;
  right: 440px;
  top: 8px;
  transform: rotate(-8deg);
  transition-delay: 5s;
}

/* 3. низ центр */
.hero_blue {
  width: 212px;
  left: 590px;
  bottom: -50px;
  transform: rotate(11deg);
}

/* 4. верх право */
.hero_forest {
  width: 250px;
  left: -30px;
  top: 20px;
  transform: rotate(9deg);
}

/* 5. верх ліво-центр */
.hero_glass {
  width: 310px;
  left: 330px;
  top: 61px;
  transform: rotate(-10deg);
}

/* 6. низ ліво */
.hero_park {
  width: 370px;
  left: -100px;
  top: 595px;
  transform: rotate(-10deg);
}

/* 7. верх право */
.hero_town {
  width: 280px;
  right: -20px;
  top: 30px;
  transform: rotate(10deg);
}
.hero-photo {
  transition: transform 1s cubic-bezier(0.35, 0.46, 0.45, 0.94), opacity 0.8s ease-in-out;
}

.hero_lamp.hidden {
  transform: rotate(4deg) translate(200px, 300px);
  opacity: 0;
}

.hero_balcon.hidden {
  transform: rotate(-8deg) translate(200px, -200px);
  opacity: 0;
}

.hero_blue.hidden {
  transform: rotate(11deg) translate(300px, 100px);
  opacity: 0;
}

.hero_forest.hidden {
  transform: rotate(9deg) translate(-300px, -100px);
  opacity: 0;
}

.hero_glass.hidden {
  transform: rotate(-10deg) translate(-200px, 200px);
  opacity: 0;
}

.hero_park.hidden {
  transform: rotate(-10deg) translate(-300px, 300px);
  opacity: 0;
}

.hero_town.hidden {
  transform: rotate(10deg) translate(300px, -300px);
  opacity: 0;
}