.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.logo img {
    height: 40px;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}


nav {
    background: linear-gradient(to bottom,
            var(--background-color) 60%,
            rgba(255, 255, 255, 0) 100%);
    /* linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));  */
    background-repeat: no-repeat;
    background-position: bottom;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 95;
}

nav.topfixed {
    background: linear-gradient(to bottom,
            var(--background-color) 60%,
            rgba(255, 255, 255, 0) 100%);
    position: fixed;

}

nav.topfixed::before {
    transform: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* Схема вирівнювання лого та меню (desktop) по основній осі (main axis) */
    align-items: center;
    /* Схема вирівнювання лого та меню (desktop) по додатковій осі (cross axis) */
    margin-left: auto;
    /* Центрування блоку всередині nav по-горизонталі */
    margin-right: auto;
    /* Центрування блоку всередині nav по-горизонталі */
    max-width: var(--max-width);
    /* Ширина .nav-inside не більше 1280px */
    padding: 12px 24px;
    /* Внутрішні відступи */
    position: relative;
    transition: all .3s ease-in-out;
}

.topfixed .navbar {
    justify-content: space-between;
    padding-top: 12px;
    /* Внутрішні відступи після прокрутки */
    padding-bottom: 12px;
    /* Внутрішні відступи після прокрутки */
    transform: scale(0.9);
}

.logo {
    display: flex;
    width: var(--logo-width);
    line-height: .7;
    transform: scale(1.3);
    transform-origin: left center;
    align-items: center;
    /* Вирівнювання по додатковій осі */
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.logo img {
    max-width: 50%;
    height: auto;
}

.logo:hover {
    text-decoration: none;
}

.topfixed .logo {
    transform: scale(1);
    opacity: 1;
    display: flex;
}

.logo img {
    margin-right: 15px;
}

.logo span {
    color: var(--logo-color-1);
    font-size: .8rem;
    /* 0.85 * font-size body */
    line-height: 1.4;
    letter-spacing: .035em;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 80px;
}

nav .navbar {
    overflow: visible;
}

.nav-icon {
    display: none;
    z-index: 99;
}

.navigation a {
    display: block;
    color: var(--txt-tetriary-color);
    /* Основний колір меню */
    font-size: 1.25rem;
    /* Розмір тексту меню */
    font-weight: 400;
    /* Накреслення тексту меню */
    letter-spacing: .025em;
    padding: 8px 0 18px;
    margin-left: 32px;
    text-decoration: none;
    position: relative;
    transition: all .3s ease;
}

.navigation a:hover {
    color: var(--secondary-color);
    /* Основний колір меню (hover) */
}

.topfixed .navigation a {
    color: var(--txt-tetriary-color);
    /* Колір меню після прокрутки */

}

.topfixed .navigation a:hover {
    color: var(--secondary-color);
    /* Колір меню (hover) після прокрутки */
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navigation li {
    display: inline-block;
    vertical-align: middle;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.overlay {
    background-color: #333;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
}


@media screen and (max-width: 767px) {

    .navigation ul {
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100dvh;
        position: fixed;
        right: 0;
        top: 0;
        padding-top: 80px;
        padding-left: 24px;
        transform: translateX(100%);
        transition: transform .35s ease;
        z-index: 98;
    }

    .open .navigation ul {
        transform: translateX(0);
    }

    .open ul li {
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-left: 0;
    }

    .open ul a {
        color: var(--txt-secondary-color);
        font-size: 1.5rem;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    nav.topfixed .navbar {
        transform: scale(1);
        padding: 8px 24px;
    }
}