
/* напрямки */
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* вирівнювання */
.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
  text-align: center;
}


header>.inside,
footer>.inside,
section>.inside {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--ipad-padding);
    padding-right: var(--ipad-padding);
}

@media (max-width:640px) {

    header>.inside,
    footer>.inside,
    section>.inside {

        padding-left: var(--mob-padding);
        padding-right: var(--mob-padding);
    }
}